[submodule "math"]
	path = math
	url = https://dicksdeathabove.xyz/~mia/psh-fractional
	branch = master
[submodule "com"]
	path = com
	url = https://dicksdeathabove.xyz/~mia/psh-fc
	branch = master
[submodule "ran"]
	path = ran
	url = https://dicksdeathabove.xyz/~mia/psh-prng
	branch = xor
[submodule "mwrap"]
	path = mwrap
	url = https://dicksdeathabove.xyz/~mia/psh-rpn
	branch = master
[submodule "sh-libarray"]
	path = sh-libarray
	url = https://codeberg.org/sockless-foundation/sh-libarray.git
[submodule "sh-libdict"]
	path = sh-libdict
	url = https://codeberg.org/sockless-foundation/sh-libdict.git
